html, body, div.page{
height:100%;
}
body {overflow-y: hidden;}

div.page {padding: 0!important;}
/* =================================================================*/
h1, h2, h3, h4, h5, h6 {margin:0}
p {margin: 0 0 5px; font-size: 13px} /*ST: Schriftgröße wieder entfernen!*/
/* =================================================================*/
#inhalt {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
    background-repeat: no-repeat;
    background-color: grey;
	background-attachment: fixed;
	height: 100%;
	padding: 0;}


/* ======================= Hauptseiten ======================*/
#sprechblase {
width: 50%;
position: fixed;
z-index: 0;
}
#inhalt.left #sprechblase{
	right: 2%;
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);}

#sbText_svg {
border: 1px solid black;
width:40%;
position: fixed;
top: 5%;
z-index: 10;
max-height: 33%;
overflow-y:scroll;
}
#inhalt.left #sbText_svg {right: 5%;}
#inhalt.right #sbText_svg {left: 5%;}

/* ------------------------ Alternative CSS Sprechblase ------------------*/
#sbText {
border: 2px solid black;
width:42%;
height: 35%;
position: fixed;
top: 3%;
z-index: 10;
padding: 5px;
-webkit-border-radius: 10px;
border-radius: 10px;
background: rgba(255,255,255,1);
}
#inhalt.left #sbText{right: 3%;}
#inhalt.right #sbText{left: 3%;}

#sbText div {height: 100%; overflow-y: scroll}
#sbText:after {
content: "";
height: 20px;
width: 20px;
background-size: 90% auto;
background-repeat: no-repeat;
position: absolute;
top: 88%;
}
#inhalt.left #sbText:after {background-image: url(../img/haken_links.png); left: -18px}
#inhalt.right #sbText:after {background-image: url(../img/haken_rechts.png); right: -20px;}

/* ------------------------ Alternative CSS Sprechblase Ende ------------------*/

#chara {
width: 100%;
position: fixed;
bottom: 9%;
}
#inhalt.left #chara {right:23%}
#inhalt.right #chara {left:20%}


#weiterButton {
position:fixed;
bottom: 15%;
}
#inhalt.left #weiterButton {right:5%}
#inhalt.right #weiterButton {left:5%}

.raetsel_text {background: rgba(255,255,255,0.8); border: 1px solid #777; width: 100%; padding: 3px; text-align: center}

/*==================== Einzelne Elemente zu den Rätseln ==================================*/

/*===================== 00 ===================== */
#map_geo img {width: 75%; display:block; margin:auto; border: 1px solid #555}

/* ======================= Mehr Informationen ======================*/
.infotext {background: rgba(255,255,255,0.8); border: 1px solid #777; width: 100%; padding: 3px}

/*============================ Footer ==============================*/	
#footer {
position: fixed;
bottom: 0;
width: 100%;
padding: 6px 10px 0;
height: 9%; /*ST: Habe die Höhe fixiert, damit der Footer auch angezeigt wird, wenn keine Buttons vorhanden sind. Bsp. auf Hinweisseiten */
}

#footer a {
width: 45%;
}


