@charset "UTF-8";

html, body, div.page{
height:100%;
}
body {overflow-y: hidden;}

div.page {padding: 0!important;}
/* =================================================================*/
h1, h2, h3, h4, h5, h6 {margin:0}
p {margin: 0 0 5px; font-size: 13px} /*ST: Schriftgröße wieder entfernen!*/
/* =================================================================*/
.inhalt {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
    background-repeat: no-repeat;
    background-color: grey;
	background-attachment: fixed;
	height: 100%;
	padding: 0;}


/* ======================= Hauptseiten ======================*/

/* ------------------------ CSS Sprechblase ------------------*/

.sbText {
border: 2px solid black;
width:42%;
min-height: 30%;
max-height: 70%;
position: fixed;
top: 3%;
z-index: 10;
padding: 5px;
-webkit-border-radius: 10px;
border-radius: 10px;
background: rgba(255,255,255,1);
}
.inhalt.left .sbText{right: 3%;}
.inhalt.right .sbText{left: 3%;}

.sbText:after {
content: "";
height: 20px;
width: 20px;
background-size: 90% auto;
background-repeat: no-repeat;
position: absolute;
top: 70%;
}
.inhalt.left .sbText:after {background-image: url(../img/haken_links.png); left: -18px}
.inhalt.right .sbText:after {background-image: url(../img/haken_rechts.png); right: -20px;}

/* ------------------------ Alternative CSS Sprechblase Ende ------------------*/

.chara {
width: 70%;
height: auto;
position: fixed;
top: 15%;
}
.inhalt.left .chara {right:35%}
.inhalt.right .chara {left:40%}


.weiterButton {
position:absolute;
top:103%;
}


.inhalt.left .weiterButton {right:15%}
.inhalt.right .weiterButton {left:15%}

.raetsel_text {background: rgba(255,255,255,0.8); border: 1px solid #777; width: 100%; padding: 3px; text-align: center}

/*==================== Einzelne Elemente zu den Rätseln ==================================*/

/*===================== 00 ===================== */
#map_geo img {width: 75%; display:block; margin:auto; border: 1px solid #555}

/* ======================= Mehr Informationen ======================*/
.infotext {background: rgba(255,255,255,0.8); border: 1px solid #777; width: 100%; padding: 3px}

/*============================ Footer ==============================*/	
.footer {
position: fixed;
bottom: 0;
width: 100%;
padding: 6px 10px 0;
height: 9%; /*ST: Habe die Höhe fixiert, damit der Footer auch angezeigt wird, wenn keine Buttons vorhanden sind. Bsp. auf Hinweisseiten */
}

.footer a {
width: 45%;
}

.footer:last-child {
}

